.task-table {
    width: 100%;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

.buttons{
  padding-top: 5%;
  padding-bottom: 2%;
}